{% include '/base.html.twig' %}  
   
{% block body %}
    <div style="text-align: center;"><h3>Welcome to IDC test System</h3></div>
    <div style="text-align: center;" id="el">
        <form name="newClientForm" method ="post" action="saveNewData" >

            <table class="table">
                <tr><td>Task : </td><td><input type="text" id="task" name="task"  ></td></tr>
                <tr><td>Amount : </td><td><input type="text"  id="amount" name="amount"  ></td></tr>
                <tr><td>Percentage : </td><td><input type="text"  id="percentage" name="percentage"  ></td></tr>
                {#<tr><td>Total : </td><td><input type="text"   id="total" name="total"  readonly="readonly" ></td></tr>#}
                <tr><td> </td><td><input type="submit" value="Submit" class="btn btn-primary"><a type="button" class="btn btn-primary" href="/">Cancel</a></td> </tr>
            </table> 
            </table>

        </form>

    </div>
{% endblock %}